.pastel-banner {
    height: 100px;
    width: 100%;
    background: #B39EB5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.pastel {
    font-size: 5em;
    color: white;
    font-weight: bold;
    
}

@font-face {
  font-family: myFirstFont;
  src: url(sansation_bold.woff);
  font-weight: bold;
}

body {
	background-color: var(--primary)
}

"Default": {
      "primary": "203243",
      "secondary": "EEF4F7",
      "tertiary": "416376",
      "quaternary": "5E99B9",
      "header_background": "FaFaFa",
      "header_primary": "EEF4F7",
      "highlight": "86BDDB",
      "danger": "8F393E",
      "success": "70DB82",
      "love": "FC94CB"
    }
